https://nguyenhuythanh.com {
    encode zstd gzip
    file_server
    root * /var/www/public

    handle_errors {
        rewrite * /{http.error.status_code}.html
        file_server
    }
}

https://fathom.nguyenhuythanh.com {
    reverse_proxy islet-fathom:8080
}
